.link {
  stroke: #000;
  stroke-width: 1.25px;
}

.node {
  stroke: #000;
  stroke-width: 1.25px;
}

.not-visited {
    fill: white;
}

.active {
    fill: yellow;
}

.svg-border {
    stroke: #000;
    fill: none;
    stroke-width: 1px;
}

g text {
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}